body{
    font-family: sans-serif;
    margin: 0;
}
form{
    margin: auto;
    max-width: 90px;
    padding-left: 20px;
    border-radius: 50px;
}
button{
    padding: 10px 20px;
    font-size: 15px;
    width: auto;
    background-color: rgb(108, 77, 142);
    color: white !important;
    border: none;
    border-radius: 10px;
}